@charset "UTF-8";

/* 1480px */
@media (max-width: 1480px){
   header{
      margin: 0 3.5vw;
   }
   .con1,.con2 .con_inner, .con3 .con_inner, .con5 .con_inner{
      width: 100%;
   }
   .swiper-slide-next + .swiper-slide .slide_img_wrap img{
      transform: scale(1);
   }
   .swiper-slide-next + .swiper-slide .slide_txt_box span{opacity: 0;}
   .swiper-slide-next .slide_img_wrap img{
      transform: scale(1.2);
   }
   .swiper-slide-next .slide_txt_box span{opacity: 1;}
}

/* 1023px */
@media (max-width: 1023px){
   header{height: 80px;}
   header .logo a span:first-child{
      font-size: 1.3rem;
   }
   header .logo a span:last-child{
      font-size: 0.5rem;
      height: 1.3rem;line-height: 1.3rem;
   }
   .menu_container{
      display: none;
      position: fixed;
      top: 0;left: 0;bottom: 0;right: 0;
      /* inset: 0; */
      background-color: #fff;
      z-index: 10;color: #000;
   }
   .m_menuBtn.on span{background-color: #000;}
   #menu{margin-top: 12vh;}
   #menu > li{
      display: block;
   }
   #menu > li > a{
      padding: 0;
      font-size: 4.5vw;
      line-height: 10vh;
   }
   .m_menuBtn{display: block;z-index: 20;}
   .notice_container{display: none;}
   .manage_container{right: 50px;}
   .manage_container a{border: none;font-size: 14px;padding: 5px 10px;}

   .main_txt_container p{
      font-size: 2.3rem;
   }

   .con_title{
      font-size: 2rem;
   }
   .con_txt{
      font-size: 0.9rem;
   }
   .con1 ul li:not(:first-child){
      display: block;
      margin-top: 30px;
   }
   
   .con2 ul{text-align: left;}
   .con2 ul li{
      width: 100%;height: auto;
      padding: 50px 30px;
   }
   .con2 ul li:not(:first-child){
      margin-left: 0;
      margin-top: 20px;
   }
   .con2 ul li .con2_ico{
      margin-right: 30px;
      vertical-align: middle;
   }
   .con_txt_wrap{
      display: inline-block;
      vertical-align: middle;
   }
   .con2 ul li h3{margin-top: 0;}

   .con2 .con2_more{
      position: absolute;
      width: 100%;height: 100%;
      top: 0;left: 0;
   }
   .con2 .con2_more .more_txt{display: none;}
   .con2 .con2_more .arrow{
      display: block;
      position: absolute;
      width: 30px;height: 30px;
      background: url('../media/arrow.svg');
      right: 30px;top: 50%;
      transform: translateY(-50%);
   }

   .slide_txt_box{padding-top: 10px;}

   .con4_video_wrap{max-width: 800px;}

   .create_step_box{
      flex-direction: column;
      align-items: center;
   }
   .create_step_box > div{
      width: 100%;
   }
   .create_step_box > div:not(:last-child){  
      margin-bottom: 50px;
   }
   .create_step_box > div:not(:last-child)::after{
      transform: rotate(90deg);
      top: initial;bottom: -33px;
      right: calc(50% - 14px);
   }

   footer{
      flex-direction: column;
      border-top: 0;
   }
   .footer_menu{
      width: 100%;
   }
   .footer_menu > ul{
      flex-direction: column;
      text-align: center;  
   }
   .footer_menu > ul > li{
      padding: 0;
   }
   .footer_menu > ul > li h4{
      position: relative;
      border-bottom: 1px solid #ccc;
      padding: 20px 0;
      cursor: pointer;
   }
   .footer_menu > ul > li:first-child h4{
      border-top: 1px solid #ccc;
   }
   .footer_menu > ul > li h4::after{
      content: "";
      position: absolute;
      width: 30px;height: 30px;
      right: 20px;top: 10px;
      background: url("../media/Downarrow.png") no-repeat center center / 20px;
   }
   .footer_menu > ul > li h4.on::after{
      transform: rotate(180deg);
   }
   .footer_sub{
      padding: 16px 0;
      display: none;
      border-bottom: 1px solid #ccc;
   }
   .footer_sub li{
      padding: 5px 0;
      font-size: 14px;
   }
   .appStoreLink{
      width: 100%;
      margin-top: 16px;
   }
   .appStoreLink .appBtns{
      display: none;
   }
   .appStoreLink .mobile_app_link{
      display: block;
      width: 100%;
      padding: 16px 0;
      background-color: #624dff;
      color: #fff;
      font-family: 'S-CoreDream', sans-serif;
      font-size: 14px;
      border-radius: 6px;
   }
}

@media (max-width: 768px){
   .sldie_img_box img{width: 200px;}
   .swiper-slide-next .slide_img_wrap img{
      transform: scale(1);
   }
   .swiper-slide-next .slide_txt_box span{opacity: 0;}

   .swiper-slide-active .slide_img_wrap img{
      transform: scale(1.2);
   }
   .swiper-slide-active .slide_txt_box span{opacity: 1;}
}

/* 600px */
@media (max-width: 600px){
   .main_txt_container p{
      margin-bottom: 15px;
   }

   .con_title{
      font-size: 1.6rem;
   }
   .con_txt{
      font-size: 0.7rem;
   }

   .con2 ul li .con2_ico{
      width: 44px;height: 44px;
   }
   .con2 ul li h3{
      font-size: 1.3rem;
   }
   .con2 ul li p{
      font-size: 0.8rem;
   }
   .swiper-slide.swiper-slide-active .slide_img_wrap img{
      transform: scale(1);
   }

   .slide_txt_box{padding-top: 0;}
}











